
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 42vmax;
    padding: 0.3vmax;
    background-color: rgba(0,0,0,0.3);
    color: white;
    text-align: center;
    align-items: center;
}